<launch>


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrl1_control)/config/mrl1_control.yaml" command="load"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrl1_control)/config/mrl2_control.yaml" command="load"/>

 <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrl1_control)/config/mrl3_control.yaml" command="load"/>

 <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrl1_control)/config/mrl4_control.yaml" command="load"/>

 <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrl1_control)/config/mrl5_control.yaml" command="load"/>
#----------------------------------------------------------------------------------------------------------

<group ns="mrl1">


  <!-- load the controllers -->
  <node name="mrl1_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen"  args="joint_state_controller
			       left_wheel_controller
			       right_wheel_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mrl1/joint_states" />
  </node>

</group>

#----------------------------------------------------------------------------------------------------------

<group ns="mrl2">

  <!-- load the controllers -->
  <node name="mrl2_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller
			      left_wheel_controller
			      right_wheel_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mrl2/joint_states" />
  </node>

</group>

#----------------------------------------------------------------------------------------------------------
<group ns="mrl3">

  <!-- load the controllers -->
  <node name="mrl3_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller
			      left_wheel_controller
			      right_wheel_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mrl3/joint_states" />
  </node>

</group>

#----------------------------------------------------------------------------------------------------------

<group ns="mrl4">

  <!-- load the controllers -->
  <!--node name="mrl4_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller
			      left_wheel_controller
			      right_wheel_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mrl4/joint_states" />
  </node-->

</group>

#----------------------------------------------------------------------------------------------------------

<group ns="mrl5">

  <!-- load the controllers -->
  <!--node name="mrl5_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller
			      left_wheel_controller
			      right_wheel_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/mrl5/joint_states" />
  </node-->

</group>

#----------------------------------------------------------------------------------------------------------
</launch>
